export default {
  locales: [
    {
      code: 'en',
      file: 'en.json',
    },
    {
      code: 'sv',
      file: 'sv.json',
      domain: 'example.domain.com',
    },
  ],
  defaultLocale: 'en',
  detectBrowserLanguage: false,
  differentDomains: true,
  lazy: true,
  langDir: 'locales/',
};
