export default {
  locales: [
    {
      code: 'en',
      file: 'en.ts',
    },
    {
      code: 'sv',
      file: 'sv.ts',
      domain: 'dragon.revolutionrace.se',
    },
  ],
  defaultLocale: 'en',
  detectBrowserLanguage: false,
  differentDomains: true,
  lazy: true,
  langDir: 'translations/',
};
